<main class="home">
  <div class="slideshow-container">
    {{#each banners}}
    <div class="mySlides fade">
      <img src={{bannerImageUrl}} alt={{bannerImageAlt}} class="sale" style="width:100%" />
    </div>
    {{/each}}
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
    <div style="text-align:center">

      {{#each banners}}
      <span class="dot" id={{order}} onclick="currentSlide({{order}})"></span>
      {{/each}}
    </div>
  </div>

  {{#each categories}}
  <div class="flex-row category">
    <img src="{{imageUrl}}" alt="" class="category-logo" />
    <div class="flex-column category-detail">
      <h1 class="category-detail__main">{{name}}</h1>
      <h3 class="category-detail__sub">
        {{description}}
      </h3>
      <a href="javascript:void(0)" class="btn">Explore {{name}}</a>
    </div>
  </div>
  {{/each}}
</main>
<script type="text/javascript" src="js/silder.js"></script>