<main class="flex-row">
  <div class="category-list">
    {{#each categories}}
    <a href="/products/{{id}}">
      <h1 class="category-list__name">{{name}}</h1>
    </a>
    {{/each}}

  </div>
  <div class="flex-column product-list">
    <div class="mob-category-list-container">
      <select class="mob-category-list" onchange="window.location = this.value;">
        {{#each categories}}
        <option value="/products/{{id}}">
          {{name}}
        </option>
        {{/each}}
      </select>
    </div>

    <div class="product-list-row">
      {{#each products}}
      <div class="product-card">
        <h1 class="product-card__name">{{name}}</h1>
        <div class="product-card__detail">
          <img class="product-card__detail--img" src="{{imageURL}}" alt="{{name}}" />
          <p class="product-card__detail--description">
            {{description}}
          </p>
        </div>
        <div class="flex-row product-card__buy">
          <div class="flex-row product-card__buy--price">MRP Rs.{{price}}</div>
          <a href="" class="flex-row btn product-card__buy--btn" id ={{id}}>
            Buy Now <span class="product-card__buy--sm-txt">@Rs.{{price}}</span>
          </a>
        </div>
      </div>
      {{/each}}
  </div>
</main>

<script type="text/javascript" src="/js/products.js"></script>
